body{
	background-color: #DB7093;
}
h1{
font-size: 30px;
color: #FFC0CB;
}

h2{
font-size: 20px;
color: #FF1493;
}

p{
font-size: 12px;
font-family: Arial;
color: teal;
}

.big {
font-size: 60px;
}

.uppercase{
text-transform: uppercase;
}

.big.uppercase{
color: navy;
}

h1 span{
color: violet;
}